.selectoresformatos{
    display:flex;
    flex-direction:row ;
    justify-content: center ;
    align-items: center;
}


.selecteditar{
    margin: 2% 5% 5% 0;
    width: 20%;
    height: 40px;
}

.formatoeditartitulo{
    margin-top : 2% ;
    display:flex;
    justify-content: center ;
    align-items: center;
}

.papereditar{
    width : 60% ;
    margin: 0 20% 0 20%;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.documentotitulo{
    display:flex;
     flex-direction: column ;
    justify-content: center ;
    align-items: center;
    margin-bottom: 3%;
}