.paper{
    width : 70% ;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.nodos{
    display:flex;
    flex-direction: row;
}

.botoncrearformato{
    
  color: #FFFFFF ;
  width: 150px;
  height: 50px ;
  background-color:#00bcd4 ;
  border-radius: 12px;
  margin: 3% 0 3% 5%;
}

.botonesformato{
        display:flex;
        flex-direction: row;
}
.botoncrearformato:hover{
  background-color:#006775;
}

.botonagregarcomponente{
      color: #FFFFFF ;
  width: 150px;
  height: 50px ;
  background-color:#00bcd4 ;
  border-radius: 12px;
  margin: 0 0 0 2%;
}
.botonagregarcomponente:hover{
    background-color:#006775;
}