.selectorg{
    margin: 3%;
    height: 50px;
    width: 10%;
}


.botonregistro{
        
        height:45px;
        width:130px;
}

.tabla{
    width: 80%;
    margin-left: 10% ;
    margin-right: 10%;
    
}